name: notify-stale-action
on:
  workflow_dispatch:
    branches:
      - main
  schedule:
    - cron: '30 8 * * *'
jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Notify pending release
        id: notify
        uses: sameer-coder/github-action-notify-release@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          days-to-ignore: 0
